@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

h1 {
    font-family: 'Dosis', sans-serif;
}

p{
    font-family: 'Playfair Display', serif; 
}


/*sección 1. barra de navegación lateral/ Felipe*/

/*sección 2. buscador, barra de navegación,banner superior/Robinson*/

/*sección 3. filtros, i card estudiante, indicador de emociones, estadisticas/Angela*/

/*sección 4. resumen actividades, estatus estudiantes, calendario y eventos/Robinson*/

/*sección 5. footer/ Felipe*/