@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --green-darker:#009458;
    --green-light:#69BF97;
    --white: #FFFFFF;

    --body-color:#F3F3F3;

    --border-radius-cards:15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background: var(--body-color);
}

h1, h2, h3 {
    font-family: 'Dosis', sans-serif;
}

p{
    font-family: 'Playfair Display', serif; 
}


/*sección 1. barra de navegación lateral/ Felipe*/

/*sección 2. buscador, barra de navegación,banner superior/Robinson*/

/*sección 3. filtros, i card estudiante, indicador de emociones, estadisticas/Angela*/

.filters, .student_resume{
    width: 95%;
    margin: 15px auto;
}

.filters{
    display: grid;
    grid-template-columns: 100%;
    gap:10px;
    --border-radius-filter:5px;
}

.filters .student, .filters select{
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    border-radius: var(--border-radius-filter);
}

.selectors{
    display: grid;
    grid-template-columns: 62% 34.5%;
    gap: 10px;
}

.filters .student{
    background-color: var(--green-light);
}

.selectors select{
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.34);
    font-weight: bold;
}

.selectors .diplomat{
    color: var(--green-darker);
}

.selectors .module{
    background: var(--green-darker);
    color: var(--white);
}


/*----------------------------*/

.student_resume{
    display: grid;
    gap:15px;
}

/*---------card student------*/

.card_student h1, .card_student h3, .layer_text{
    font-family: 'Dosis', sans-serif;
}

.card_student{
    background: var(--white);
    border-radius: var(--border-radius-cards);
    padding: 10px;
}

.profile{
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 110px;
    margin: auto;
}

.profile p{
    width: 10px;
    height: 10px;
    background: #00FF0A;
    border-radius: 50%;
    border: 5px solid var(--white);
    position: absolute;
    bottom: 12px;
    right:8px;
}

.card_student .profile_image{
    width: 100%;
    max-width: 100px;
    margin: auto;
}

.other_students{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    position: relative;
    max-height: 70px;
}

.other_students img{
    max-width: 70px;
    max-height: 50px;
    margin-left:-25px;
}

.card_student img{
    border-radius: 50%;
    border:5px solid var(--white)
}

.layer_text{
    position: absolute;
    background: rgba(0, 0, 0, 0.432);
    border-radius: 50%;
    border: 4px solid white;
    width: 50px;
    height: 50px;
    bottom: 0;
    color: var(--white);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information_student{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15px;
    align-items: center;
    line-height: 1.5;
}

.information_student h3{
    font-size: 21px;
}

.information_student a{
    text-decoration: none;
    color: var(--green-darker);
    border-bottom: 1px solid var(--green-darker);
}

/*progress bar*/

.progress-bar{
    background: var(--white);
    padding: 15px;
    border-radius: var(--border-radius-cards);
}

.circular_progress_barr{
    display: flex;
    position: relative;
    width: 150px;
    margin: 10px auto;
}

.circle-bar {
    display: grid;
    grid-template-columns: repeat(1, 160px);
    width: 150px;
    height: 150px;
    background: #EAEAEA;
    border-radius: 50%;
    transform: scaleX(-1);
    overflow: hidden;
}

.circle-bar .circle .mask,
.circle-bar .circle .fill-group{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-bar-individual{
    width: 110px;
    height: 110px;
    position: absolute;
    z-index: 1000;
    top: 20px;
    left: 20px;
}

.circle-bar .fill-individual{
    width: 110px;
    height: 110px;
    position: absolute;
    border-radius: 50%;
}

.circle-bar-individual .circle .mask{
    width: 110px;
    height: 110px;
}

.circle-bar .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-bar-individual .circle .mask {
    clip: rect(0px, 110px, 110px, 55px);
}

.circle-bar .inside-circle {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background: #ffffff;
    line-height: 120px;
    margin-top: 13px;
    margin-left: 13px;
    color: white;
    position: absolute;
    z-index: 100;
}

.circle-bar-individual .inside-circle{
    width: 84px;
    height: 84px;
    margin-top: 13px;
    margin-left: 13px;
}

/* color animation */

.mask .fill-individual {
    clip: rect(0px, 55px, 110px, 0px);
    background-color: #29ABE2;
}

.mask.full-individual,
.circle .fill-individual {
    animation: fill-individual ease-in-out 3s;
    transform: rotate(93deg);
}

@keyframes fill-individual {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(93deg);
    }
}

/* second bar */

.mask .fill-group {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #FBB03B;
}

.mask.full-group,
.circle .fill-group {
    animation: fill-group ease-in-out 3s;
    transform: rotate(135deg);
}

@keyframes fill-group{
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(135deg);
    }
}

.statistics{
    display: flex;
    max-width: 250px;
    justify-content: space-between;
    margin: auto;
}

.statistics h3:first-of-type span{
    color: #FBB03B;
}

.statistics span{
    color:#29ABE2;
}

/*sección 4. resumen actividades, estatus estudiantes, calendario y eventos/Robinson*/

/*sección 5. footer/ Felipe*/