@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

h1 {
    font-family: 'Dosis', sans-serif;
}

p{
    font-family: 'Playfair Display', serif; 
}


/*sección 1. barra de navegación lateral/ Felipe*/
.container-sidebar{
  position: fixed;
  background-color: #01b76d;
  width: 250px;
  height: 1600px;
  border-radius:30px;
  margin-top: 30px;
}
.container-sidebar .logo{
  position:fixed;
  top:15px;
  left: 25px;
  width: 170px;
  height: 40px;
  margin: auto;
  background-color: #f3f3f3;
  text-align: center;
  border-radius:20px;
}
.container-sidebar .logo img{
  display: inline-block;
  margin-left: 3px;
  padding-right: 0;
  margin-right: 0;
  width: 40px;
  height: 39px;
}
.container-sidebar .logo span{
  float: right;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
  margin-right: 5px;
  margin-top: 5px;
  color: #01b76d;
  font-family: 'Dosis', sans-serif;
}
.container-sidebar .title-one{
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}
.container-sidebar .title-one h1{
  color:#fff;
  font-weight: 400;
}
.container-sidebar .title-one span{
  font-weight: 800;
  color:#fff;
}
.container-sidebar .img-sidebar{
  margin-bottom: 30px;
  text-align: center;
}
.container-sidebar .img-profile img{
  display:block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: auto;
}
.container-sidebar .img-profile span{

position: absolute;
width: 40px;
height: 21px;
font-family: 'Dosis';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
display: inline-block;
left: 25%;
color: #FFFFFF;

}
.container-sidebar .title-two span{
position: absolute;
display: inline-block;
left: 5px;
width: 193px;
height: 26px;
margin-top: 40px;
font-family: 'Dosis';
font-style: normal;
font-weight: 700;
font-size: 31px;
line-height: 39px;

color: #FFFFFF;
}
.sidebar .sidebar-options li{
display: inline-block;
width: 200px;
height: 34px;
}


.sidebar .sidebar-options{
margin-top: 80px;
position: absolute;
display: inline-block;

}
.sidebar-options li:hover{
  width: 200px;
  height: 34px;
  background-color: rgb(205, 206, 205);
  color: #01b76d;
  border-radius: 10px;

}
.img-buttom{
  margin-top: 300px;
  text-align: center;
}
.gg-calendar-today {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-top: 4px solid;
  border-radius: 3px
 }
 
 .gg-calendar-today::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  background: currentColor;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  right: 2px;
  bottom: 2px
 } 
 .gg-microsoft {
  transform: scale(var(--ggs,1))
 }
 
 .gg-microsoft,
 .gg-microsoft::after,
 .gg-microsoft::before {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px
 }
 
 .gg-microsoft::after,
 .gg-microsoft::before {
  content: "";
  position: absolute;
  width: 8px;
  border-top: 8px solid;
  border-bottom: 8px solid
 }
 
 .gg-microsoft::after {
  right: 0
 } 
 .gg-toolbar-top {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 18px;
  height: 12px;
  box-shadow: 0 0 0 2px, inset 0 2px 0;
  border: 2px solid transparent;
  border-radius: 1px
 } 
 .gg-user-list {
  display: block;
  transform: scale(var(--ggs,1));
  box-sizing: border-box;
  width: 20px;
  height: 18px;
  background:
  linear-gradient(
  to left,
  currentColor 8px,
  transparent 0)
  no-repeat 14px 4px/6px 2px,
  linear-gradient(
  to left,
  currentColor 8px,
  transparent 0)
  no-repeat 14px 8px/6px 2px,
  linear-gradient(
  to left,
  currentColor 8px,
  transparent 0)
  no-repeat 14px 12px/6px 2px
 }
 
 .gg-user-list::after,
 .gg-user-list::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid
 }
 
 .gg-user-list::before {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  top: 0;
  left: 2px
 }
 
 .gg-user-list::after {
  width: 12px;
  height: 9px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 9px
 } 
 .gg-user {
  display: block;
  transform: scale(var(--ggs,1));
  box-sizing: border-box;
  width: 12px;
  height: 18px
 }
 
 .gg-user::after,
 .gg-user::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid
 }
 
 .gg-user::before {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  top: 0;
  left: 2px
 }
 
 .gg-user::after {
  width: 12px;
  height: 9px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 9px
 } 
/*sección 2. buscador, barra de navegación,banner superior/Robinson*/

/*sección 3. filtros, i card estudiante, indicador de emociones, estadisticas/Angela*/

/*sección 4. resumen actividades, estatus estudiantes, calendario y eventos/Robinson*/

/*sección 5. footer/ Felipe*/